nimcache/
nimblecache/
htmldocs/

# ignore the ode source directory
ode/

# ignore this header file i use for testing
ode.h

# nix
result

# test executables
tests/tinit
tests/tstep

# main executable
src/ode

# libraries
*.a
*.so
*.so.8
*.dll
*.lib
